.p-des {
    font-size: .8rem;
}

.price-btn {
    font-size: 1.75rem;
}

.product-image img {
    width: 100%;
    object-fit: contain;
    height: 100%;
}

.btn-buy {
    font-size: .9rem;
}

.sellCard {
    border: .05rem solid black;
}