.p-des {
    font-size: .8rem;
}

.price-btn {
    font-size: 1.75rem;
}

.product-image img {
    width: 100%;
    object-fit: contain;
    height: 100%;
}

.product-image {
    display: flex;

    justify-content: center;
    height: 18vh;
    margin-top: 2vh;

}

.btn-buy {

    font-size: .9rem;
}

.sellCard {
    height: 22.5vh;
    border: .05rem solid black;
}

@media screen and (max-width:900px) {
    .sellCard {
        height: auto;
    }
}