.icon,
.icons {
    margin-left: 2rem;
    background-color: #0085FF;
    cursor: pointer;
}


header {
    z-index: 50;

}

.item1 {
    /* flex: 2; */
    /* border: 1px solid red; */

}

.item2 {
    position: absolute;
    right: 8rem;

    /* border: 1px solid red; */
    /* flex: 2; */
}

.icons svg {
    font-size: 1.75rem;


}

.icon svg {
    font-size: 2.25rem;

    font-weight: 900;
    /* display: none; */
    height: 100%;
}

@media screen and (max-width:850px) {

    .item1,
    .item2 {
        position: relative;
        right: 0;
        left: 0;
    }
}