.dashboard {
    width: 70%;
    height: 100%;
    position: relative;
    border: 0.05rem solid rgb(33, 33, 33);
    left: 25%;
    z-index: 88;
    /* border: 1px solid red; */

    /* background-color: red; */
}


.close {
    display: none;
}



.dash {
    /* border: 1px solid red; */
    position: absolute;
    height: 30rem;
    background-color: transparent;
    z-index: 2;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.btnn {
    background-color: #0085FF;
}

.btnn:hover {
    background-color: #0072dd;


}

.filtre {
    opacity: 0;
}

@media screen and (max-width:1000px) {
    .filtre {
        opacity: 1;
        background-color: rgba(100, 100, 100, .2);
        font-size: 1rem;
    }

    .close {
        display: block;
    }

    .dash {
        background-color: gray;
        z-index: 101;
        top: 0;
        height: 100vh;
        opacity: 0;
        left: -100%;
        padding-top: 4rem;
        transition: .4s;
        /* display: flex; */
        align-items: center;
        justify-content: center;
        width: 55vw;
        position: fixed;
    }

    .filtre svg {
        font-size: 2.5rem;
    }

    .close:hover {
        transition: .3s;
        color: black;
        transform: scale(1.2);
    }

    .dash.activedash {
        transition: .4s;
        left: 0%;
        opacity: 1;
    }

    .dashboard {
        position: relative;
        width: 100%;
        left: 0;
        border: none;
    }


}